<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes
    Options -MultiViews

    # 1. MAPEO DE ASSETS (Ya lo tienes)
    RewriteRule ^assets/(.*)$ public/assets/$1 [L]
    
    # --- AGREGA ESTA LÍNEA AQUÍ ---
    # Permite que el navegador acceda a la carpeta storage/ dentro de public/
    RewriteRule ^storage/(.*)$ public/storage/$1 [L]
    # ------------------------------

    # 2. MAPEO DE API (Ya lo tienes)
    RewriteRule ^api/(.*)$ api/$1 [L]

    # 3. EXCEPCIONES FÍSICAS
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # 4. TODO LO DEMÁS -> AL ROUTER (SPA)
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>