<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes
    
    # Desactiva la negociación de contenido automática de Apache que a veces causa conflictos
    Options -MultiViews

    # 1. MAPEO DE ASSETS (El puente)
    # Si la URL pide 'assets/algo', búscalo REALMENTE en 'public/assets/algo'
    # La bandera [L] significa "Last" (si esto coincide, deja de procesar y sirve el archivo)
    RewriteRule ^assets/(.*)$ public/assets/$1 [L]

    # 2. EXCEPCIONES FÍSICAS
    # Si el archivo existe físicamente (por si acaso), sírvelo directamente.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # 3. TODO LO DEMÁS -> AL ROUTER (SPA)
    # Cualquier otra cosa se envía al index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>