<Files "system-handler.php">
    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require ip 127.0.0.1
        Require ip ::1
    </IfModule>

    # Apache 2.2 (Legacy fallback)
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
        Allow from 127.0.0.1
        Allow from ::1
    </IfModule>
</Files>